@page
@model Quantrack.Pages.Dash.TableaudebordModel
@{
    ViewData["title"] = "Tableau de bord";
}
<div>
    @* <div class="columns is-centered">
        <div class="column">
            <p class="subtitle">Nb Enregistrement : @Model.enregistrer</p>
        </div>
    </div> *@
    @if(Model.ErrorMessage != string.Empty)
    {
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            <h3 class="subtitle">Erreur !</h3>
            <p>@Model.ErrorMessage</p>
        </div>
    }
    <div class="columns is-centered">
        <div class="column m-2 has-text-centered box">
            <h3 class="title">+55</h3>
            <h5 class="subtitle">Projets réalisés</h5>
            <span class="tag is-warning">Graphic Design</span>
        </div>
        <div class="column m-2 has-text-centered box">
            <h3 class="title">@Model.NbProjectItDev</h3>
            <h5 class="subtitle">Projets réalisés</h5>
            <span class="tag is-success">IT Dev.</span>
        </div>
        <div class="column m-2 has-text-centered box">
            <h3 class="title">@Model.NbClients</h3>
            <h5 class="subtitle">Clients</h5>
            <span class="tag is-info">Client</span>
        </div>
    </div>
    <div class="columns">
        <div class="column is-7 mr-2">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Les projets en cours</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom du projet</th>
                                    <th>Date Fin</th>
                                    <th>Action</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                @foreach(var p in Model.ProjectInProgress)
                                {
                                    <tr>
                                        <td>@p.Id</td>
                                        <td>@p.NomProjet</td>
                                        <td>@p.DateFin</td>
                                        <td><a class="tag is-success">Details</a></td>
                                    </tr>
                                }                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <span class="card-footer-item">
                        <i class="fa-solid fa-spinner"></i>&nbsp; Vous avez @Model.ProjectInProgress.Count projet(s) en cours...
                    </span>
                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Les projets à clôturer</p>
                </header>
                <div class="card-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom du projet</th>
                                <th>Date Fin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model.ProjectToClose)
                            {
                                <tr>
                                    <td>@p.Id</td>
                                    <td>@p.NomProjet</td>
                                    <td>@p.DateFin</td>
                                    <td><a class="tag is-success">Details</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <footer class="card-footer">
                    <span class="card-footer-item">
                        <i class="fa-solid fa-spinner"></i>&nbsp; Vous devez clôturer @Model.ProjectToClose.Count projets
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>